.Application , pic{
  background-color:black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  }



  img{
    width:50%;
    border-radius:1%;
  }

h1,p{
      color:white; 
  }